body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items horizontally center */
  justify-content: center; /* Align items vertically center */
  min-height: 90vh; /* Set minimum height to the viewport height */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default paddings */
  box-sizing: border-box; /* Include paddings and borders in the element's total width and height */
  background-color: #292929;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Align text in the center */
}

.App-logo {
  max-width: 100%;
  width: calc(150px + 7vw);
}

.App-logo-pic {
  max-width: 100%;
  width: calc(150px + 7vw);
}

.App-main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-toggle-fav {
  cursor: pointer;
  background-color: lightblue;
  padding: 5px;
  margin-top: 10px;
}

.App-fav-container {
  list-style-type: none;
  font-size: calc(14px + .5vw);
  padding: 10px;
  background: linear-gradient(#d8d8d8, #d8d8d8) padding-box,
  linear-gradient(to right, #e0a7bd, #df8951) border-box;
  border: 4px solid transparent;
  border-radius: 15px;
  resize: none;
  width: 100%;
  margin-left: 20px;
  overflow-y: auto;
}

.App-favorite-joke {
  font-size: calc(14px + .5vw);
}

.App-textarea {
  font-size: calc(14px + .5vw);
  padding: 20px;
  background: linear-gradient(#d8d8d8, #d8d8d8) padding-box,
  linear-gradient(to left,  #adde3c, #10adc6) border-box;
  border: 4px solid transparent;
  border-radius: 15px;
  resize: none;
  width: 100%;
  margin-top: -50px;
}

.App-footer {
  padding: 30px;
  margin-bottom: 5em;
}

.App-gen-button {
  font-size: calc(14px + .5vw);
  padding: 10px 30px;
  background-color: #43ae32;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.App-add-button {
  font-size: calc(14px + .5vw);
  padding: 10px 30px;
  background-color: #2fae9f;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.App-gen-button:hover {
  background-color: #0e7c1d;
}

.App-add-button:hover {
  background-color: #207e73;
}

.App-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.App-favorites-container {
  background-color: #fff;
  font-size: calc(10px + .5vw);
  padding: 20px;
  max-width: 500px;
  max-height: 350px;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

.App-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.App-favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffc107;
  transition: color 0.3s ease;
}

.App-favorite-button:hover {
  color: #ffa000;
}