.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.App-header {
  padding: 20px;
}

.App-header-text {
  height: 80px;
}

.App-main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-textarea {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  width: 100%; 
}

.App-footer {
  padding: 20px;
}

.App-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.App-button:hover {
  background-color: #0056b3;
}